# Bỏ qua toàn bộ thư mục môi trường ảo
.acb_controller/
.project_1/

# Bỏ qua toàn bộ tệp thực thi exe
*.exe

# Bỏ qua tệp tin visual studio code
.vscode/

# Nếu tệp tin đã đẩy lên git rồi thì dùng câu lệnh sau xóa nó khỏi cache trước khi thêm nó vào gitignore :

# Cách 1 (xóa tệp tin cụ thể): git rm --cached filename.ext
# Cách 2 (xóa folder): git rm -r --cached foldername/

# Sau đó sửa lại gitignore và đẩy lên github